@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    background-color: #EEF5DB;
    font-family: 'Noto Sans', sans-serif;
}


h1{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

h2.card-header{
    background-color: #b1a871;
}

div.card-body{
    background-color: #D6D1B1;
}
/* Text area formatting */
#password {
    background-color: #EEF5DB;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 70px;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 2px dashed #c0c7cf;
	border-radius: 8px;
	resize: none;
	overflow: hidden;
	font-size: larger;
}


/* Button Styling */
#generate{
    color: #3f3f3f;
    background-color: #b1a871;
}

#generate:hover{
	color: #ffffff;
    background-color: #77714a;
}